body {
  background-color: #d3d3d3;
  font-family: 'Arial', sans-serif;  
}
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border-width: medium;
  border-color: black;
  height: 100px;
  }
.navbar-company {
  text-align: left;
  margin-top: 20px;
}
.navbar-company a {
	/*color:black;*/
	font-weight: bold;
	font-size: 40px;
	text-decoration:none;
}
.page-heading h1 {
	text-align: center;
	color:black;
	font-family: 'Arial',sans-serif;
	font-size: 40px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 50px;
    }
 .page-heading a {
 	text-decoration: none;
 }
 .container-fluid {
 	margin-left: 10px;
 	margin-right: 10px;
 	background-color: #B0C4DE;
 }
 .chicken .chicken-box, .beef .beef-box, .sushi .sushi-box {
 	text-align:center;
 	font-size: 20px;
 	font-weight: bold;
 	margin-bottom: 15px;
 	margin-top: 10px;
 }
 .chicken p, .beef p, .sushi p {
 	width: 100%;
 	overflow: auto;
    text-align: center;
    margin-left: 5px;
 	margin-right: 5px;
 	text-align: justify;
 }
 #box1 , #box2 ,#box3 {
 	margin-bottom: 50px;
 }
 .navbar-toggle {
 	margin-top: -50px;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  width: 100%;
  background-color: #D8BFD8;
  }
 #nav-list {
  margin-top: 10px;
}
